@font-face {
    font-family: 'OnsenJapanRegular';
    src: url('../fonts/OnsenJapanRegular.ttf') format('truetype'); /* Cambia la ruta y el formato según sea necesario */
    font-weight: normal; /* O bold, dependiendo de la fuente */
    font-style: normal; /* O italic, si aplica */
}


/* Estilos generales de la página */
.HomePage {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.menu {
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0%;
    margin-right: 0%;    
}

.image-left {
    width: 80px;
    margin-left: 5%;
    height: auto;
}

.image-right {
    width: 170px;
    height: auto;
}

.volume-slider-container {
    display: flex;
    align-items: center;
    margin-right: 50px; /* Espacio a la derecha */
    width: 15%;
}

.volume-icon {
    color: black; /* Color de los iconos */
    width: 24px; /* Ajustar al mismo tamaño del thumb */
    height: 24px; /* Ajustar al mismo tamaño del thumb */
}

/* Estilos para los botones en el footer */
.menu-button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s;
}

.menu-button.entrar {
    background-color: black;
    color: white;
}

.menu-button.entrar:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}

.menu-button.postular {
    background-color: #ff0000;
    color: white;
    margin-left: 20px;
}

.menu-button.postular:hover {
    background-color: rgba(255, 255, 255, 0.2);; /* Color de fondo en hover */
    color: black; /* Color de la letra en hover */
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    z-index: 1;
}
